<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>DELETE</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/city">city list</a>
</p>


<form th:action="@{/delete}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
<!--        <tr>-->
<!--            <td> name:</td>-->
<!--            <td th:text="${city.name}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> area:</td>-->
<!--            <td th:text="${city.area}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> area:</td>-->
<!--            <td th:text="${city.nation}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> area:</td>-->
<!--            <td th:text="${city.quantity}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> area:</td>-->
<!--            <td th:text="${city.GPA}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> area:</td>-->
<!--            <td th:text="${city.description}"></td>-->
<!--        </tr>-->
        <tr>
            <td></td>
            <td><input type="submit" value="Delete City"></td>
        </tr>
    </table>
</form>
</body>
</html>